/* Outer Container */
.biography {
    color: white;
    background: #1c2237;
    border-bottom: 1px solid white;
}

/* Biography Container */
.biography_container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 600px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    justify-content: center;
}

/* Stylings for container when in read more mode */
.biography_container_readmode {
    display: flex;
    flex-direction: column;
    padding: 30px 24px;
    z-index: 1;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    justify-content: center;
}

/* Stylings for Rows where the image is on the left*/
.biography_row_image_first {
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: "col2 col1";
}

/* Stylings for Rows where the image is on the right */
.biography_row_image_last {
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: "col1 col2";
}

/* Adding some responsive design for columns */
@media screen and (max-width: 800px) {
   .biography_row_image_first {
       grid-template-areas: "col2" "col1";
   }

   .biography_row_image_last {
       grid-template-areas: "col2" "col1";
   }

   .biography_container {
       height: 1000px;
       align-items: center;
    }

    .biography_container_readmode {
       align-items: center;
    }
}

/* Column with Headings and button */
.biography_info_col {
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col1;
}

/* Column with Image */
.biography_image_col {
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col2;
}

/* Seaction with headings */
.biography_info_section {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

/* Dates */
.biography_info_dates {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 16px;
}

/* name */
.biography_info_name {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
}

/* First paragraph when not in read more mode */
.biography_info_intro {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}

/* Hide first paragraph in read more mode */
.biography_info_intro_hidden {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    display: none;
}

/* Image of Legend */
.biography_image {
    object-fit: cover;
    width: 325px;
    height: 325px;
    border-radius: 25px;
    border: 1px solid white;
    padding: 5px;
    margin-top: 15px;
}

/* Read more button */
.biography_button {
    margin-top: 30px;
    padding: 8px 20px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid white;
    transition: all 0.3s ease-out;
    font-size: 1.2rem;
    width: 200px;
}

/* Hover effects for button */
.biography_button:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
}

/* Paragraphs Section*/
.biography_read_section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Paragraph */
.biography_paragraph {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 24px;
    max-width: 1100px;
}